body {
  margin: 0;
}

code {
  padding: .125rem .5rem;
  border-radius: 10px;
  border: .5px solid var(--border);
  color: var(--darker);
}

#add {
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem;
  text-align: center
}

#add>div {
  display: flex;
  flex-direction: column;
}

#add>div>div {
  background: var(--gray);
  padding: .5rem;
  margin: .5rem auto;
  border-radius: 25px;
  border: .5px solid var(--border)
}

#add>div>div>p {
  font-size: 1rem;
  margin: .5rem;
  line-height: 150%;
}

picture>img {
  width: 80vw
}

#add>button {
  width: 70%;
  margin: .5rem auto 1rem auto;
  background: var(--dark);
  color: var(--white);
  padding: .5rem 1rem;
  border: none;
  border-radius: 100vw;
  font-weight: bold;
  font-size: .75rem;
  cursor: pointer
}

#logo {
  width: 30%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%)
}

header,
#autocomplete {
  top: 50% !important
}

@media (min-width: 1024px) {
  #add {
    left: unset;
    right: 1rem;
    transform: unset
  }

  #add>div>div {
    width: 22.5vw
  }

  picture>img {
    width: 80%
  }

  #add>button {
    width: 50%;
    padding: .5rem 0;
    font-size: 1rem
  }

  #logo {
    width: 7.5vw
  }
}