body {
  margin: 6.5rem 0 0
}

body>p {
  width: 90%;
  margin: 0 auto 1.5rem auto;
  color: var(--dark);
  font-weight: 600
}

main {
  margin: 0 0 -1rem
}

article {
  background: var(--gray);
  width: 90%;
  border-radius: 25px;
  padding: 1rem;
  margin: 1.5rem auto;
  border: .5px solid var(--border)
}

article>div {
  margin-top: .75rem;
  display: grid;
  grid-template-columns: 1fr auto
}

.title {
  font-weight: 600
}

.title:visited {
  color: var(--visited)
}

article>div>a {
  display: flex;
  align-items: center;
}

div>a>img {
  width: calc(116*0.075rem);
  height: calc(65*0.075rem);
  border-radius: .5rem
}

.infos,
.desc {
  color: var(--dark)
}

.infos {
  margin-left: .5rem;
  font-size: .85rem
}

.desc {
  font-size: .95rem;
  grid-column: 1/3;
  margin: .5rem 0
}

@media (min-width: 1024px) {

  main {
    margin: 0 0 2rem
  }

  body>p,
  article {
    width: 50%
  }

  article>div {
    grid-template-columns: auto 1fr
  }

  article>div>a {
    margin-right: 1rem;
    grid-row: 1/3
  }

  .infos {
    margin: 0
  }

  .desc {
    grid-column: unset
  }
}