<img id="logo" src="goodgle.svg" alt="Goodgle logo" />
{{{search}}}

<script>
  //Set Goodgle as default search engine
  if (localStorage.getItem('instructions') && !localStorage.getItem('added')) {
    const add = document.createElement('div')
    add.setAttribute('id', 'add')
    const instructions = localStorage.getItem('instructions').split('.,')
    const browser = localStorage.getItem('browser')
    add.innerHTML = '<div>'
    instructions.forEach((el, i) => {
      i++
      add.children[0].innerHTML += `
          <div>
            <p>${el}</p>
            <picture>
              <source srcset="/instructions/${browser + '/' + i}.avif" type="image/avif"/>
              <source srcset="/instructions/${browser + '/' + i}.webp" type="image/webp"/>
              <img src="/instructions/${browser + '/' + i}.png" alt="Step ${i}"/>
            </picture>
          </div>
      `})
    add.innerHTML += '<button>Done</button>'
    document.body.prepend(add)
    if (window.innerWidth <= 1024) {
      document.querySelector('body>img').style.display = 'none'
      form.style.display = 'none'
    }
    document.querySelector('#add>button').addEventListener('mouseup', () => {
      add.style.display = 'none'
      document.querySelector('body>img').style.display = 'unset'
      form.style.display = 'unset'
      localStorage.setItem('added', true)
    })
  }
</script>