<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Goodgle</title>
  <meta name="Description" content="Goodgle search page." />
  <link rel="icon" href="goodgle.svg" sizes="any" type="image/svg+xml" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <style>
    * {
      outline: 0;
      box-sizing: border-box;
      overflow-wrap: break-word;
      font-family: 'Open Sans', sans-serif;
      --white: hsla(0, 0%, 96%, .98);
      --gray: hsl(0, 0%, 96%);
      --dark: hsla(0, 0%, 10%, .7);
      --darker: hsl(0, 0%, 10%, .9);
      --border: hsl(0, 0%, 60%)
    }

    a {
      color: var(--darker);
      text-decoration: none
    }

    a:hover {
      text-decoration: underline
    }
  </style>
  <link rel="stylesheet" href="style/{{style}}.css">
</head>

<body>
  {{{page}}}
</body>

</html>