<nav>
  {{#shownMenu}}
  <p class="menu" data-tab="{{id}}">{{value}}</p>
  {{/shownMenu}}
  <div></div>
</nav>

{{!--
TODO: when hover an other menu item then #current "un-hover" the #current element
--}}

<style>
  nav {
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    text-align: center;
    border-radius: 100vw;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
    height: 3rem;
    background: var(--white);
    padding: .5rem;
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden
  }

  .menu {
    align-self: center;
    padding: .5rem 1rem;
    border-radius: 100vw;
    font-weight: bold;
    font-size: .75rem;
    cursor: pointer;
  }

  .menu:hover {
    text-decoration: none;
    background: var(--dark);
    color: var(--white)
  }

  @media (min-width: 1024px) {
    nav {
      width: unset;
      overflow-x: unset
    }

    .menu {
      font-size: 1rem;
      padding: .5rem 1.5rem
    }
  }
</style>